/* ----------------- GLOBAL STYLES (Jake Sturges) -----------------*/
header a {
    display: block;
}


.skip-link {
    position: absolute;
    left: -200px;
    background: black;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;  
  }
  
  .skip-link:focus {
    margin-bottom: 10px; 
    left: 0; 
  }